<%= javascript_include_tag 'orders' %>

<h1>Orders</h1>
<% if @orders.empty? %>
  <p>Oops, there are no orders to display. This page only shows non-completed orders. Please check the data or consider adding a new non-completed order</p>
<% else %>
  <% @orders.each do |order| %>
    <% unless order['state'].downcase == 'completed' %>
      <hr>
      <div class="order">
        <div class="order-details">
          <p>ID: <%= order['id'] %></p>
          <p>Created: <%= render partial: 'shared/date_display', locals: { date: DateTime.parse(order['createdAt']) } %></p>
          <p>Promotion Codes: <%= order['promotionCodes'].empty? ? '-' : order['promotionCodes'].join(", ") %></p>
          <p>Discount Codes: <%= order['discountCode'].nil? ? '-' : order['discountCode'] %></p>
          <br>
          <p>Total price: <%= order['totalPrice'] %></p>
          <button type="button" onclick="completeOrder('<%= order['id'] %>')">Complete</button>
        </div>
        <div class="order-items">
          <p>Items:</p>
          <ul>
            <% order['items'].each do |item| %>
              <li><%= "#{item['name']} (#{item['size']})" %>
                <%= render partial: 'shared/ingridients_list', locals: { items: item['add'], action:'Add' } %>
                <%= render partial: 'shared/ingridients_list', locals: { items: item['remove'], action:'Remove' } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
