- title t('.title')

- if can? :new, Order
  %p.nav= link_to t('.new_order'), new_order_path, class: 'new'

- if @orders.limit(1).size > 0
  %table
    %thead
      %tr
        %th= Order.human_attribute_name :state
        %th= Order.human_attribute_name :price
        %th= Order.human_attribute_name :discount_ids
        %th= Order.human_attribute_name :promotion_ids
        %th{colspan: 3}= t 'actions'

    %tbody
      - @orders.each do |order|
        %tr{class: cycle(:odd, :even)}
          %td.state= order.state
          %td.price= order.price
          %td= order.discount_ids
          %td= order.promotion_ids
          %td.action
            - if can? :show, order
              = link_to t('show'), order, class: 'show'
          %td.action
            - if can? :edit, order
              = link_to t('edit'), edit_order_path(order), class: 'edit'
          %td.action
            - if can? :destroy, order
              = link_to t('destroy'), order,
                data: {confirm: t('.confirm', default: 'Are you sure?')},
                method: :delete, class: 'destroy'
- else
  .empty
    = t '.empty'
